/* CSS styles */
*{
  color: #f3efed;
}
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

#container{
  position: absolute;
  background: rgb(29,71,175);
  background: linear-gradient(138deg, rgba(29,71,175,1) 0%, rgba(101,57,140,1) 35%, rgba(235,61,102,1) 100%);
  height: 100%;
  width: 100%;
}

.headermenutitle{
  padding: 0.8%;
}

#textFilename{
  padding-left: 2%;
  background-color: transparent;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-bottom-color: gray;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: solid;
  border-right: transparent;
  border-left-style: initial;
}

#header{
  background-color: rgba(63, 61, 65, 60%);
  height: 15%;
  font-size: 200%;
  padding-left: 1%;
}

#main{
  height: 85%;
}

.box{
  background-color: rgba(63, 61, 65, 40%);
  border-radius: 20px;
  margin: 10;
}

.mainTable{
  height: 100%;
  display: grid;
  grid: 100% / 30% auto;
  grid-gap: 1%;
}

#headermenu{
  border-radius: 20px 20px 0 0;
  background-color: rgba(63, 61, 65, 40%);
  height: 10%;
  text-align: center;
}

#headermenu2{
  border-radius: 20px 20px 0 0;
  background-color: rgba(63, 61, 65, 40%);
  height: 10%;
}

#textInput {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 0;
}

.button {
    width: 80%;
    height: 10%;
    text-align: center;
    font-size: large;
    margin-left: 10%;
    margin-top: 4%; 
    background-color: #393d99;
    border-radius: 20px;
    border: 0px;
    box-shadow: 5px 5px 20px 6px rgba(0,0,0,0.2), 1px 3px 0px rgba(12,16,112,0.86);
}
#action-button{
  background-color: #921e96;
}

#menuText{
  padding: 5%;
}
