<!DOCTYPE html>
<html>
<head>
<title>DoxForge</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script src="{{ url_for('static', filename='base.js') }}"></script>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="headermenutitle">
          DoxForge
    </div>
  </div>
  <div id="main">
    <div class="mainTable">
      <div class="box" id="menu">
        <div id="headermenu">
          <div class="headermenutitle">
            Welcome
          </div>
        </div>
        <div id="menuText">
        Tool designed to create documentations for your projects.
         Feel free to donate to our student account.  
        </div>
        <div>
          <button type="button" class="button" onclick="sendText()">Upload Files</button>
        </div>
        <div>
          <button type="button" class="button" onclick="sendText()">Next</button>
        </div>
        <div>
          <button type="button" class="button" id="action-button" onclick="sendText()">Forge!</button>
        </div>
      </div>
      <div class="box" id="textArea">
        <div id="headermenu2">
          <div class="headermenutitle">
            <input placeholder="textFilename" id="textFilename">
          </div>
        </div>
        <div id="texttext">
          <textarea id="textInput" name="paste your code..."></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>